

@section headercss
{
}

<!-- Content Header (Page header) -->
<section class="content-header">
</section>
<section class="content">
	<div class="error-page">
		<h1><br /><br /></h1>
		<h2 class="headline text-yellow"> Invalid</h2>
		<div class="error-content ">
			<h2><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h2>
		<h3>	
				您沒有此作業權限!!
			</h3>
			<h2><a href="@(@Url.Action("Index","Main"))">按這裡</a>返回首頁</h2>
		</div><!-- /.error-content -->
	</div><!-- /.error-page -->
</section>


@section pagejs
{
}


